
<style>
    .dataTables_filter{
        display: none;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-sm-offset-2">
            <div class="col-sm-12 d-flex justify-content-between">
                <h4 class="font-weight-bold">Student Dashboard</h4>
                <div class="float-right">
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalRegCourse" id="txtRegCourse">Register for a Course</a>
                </div>

            </div>
            <hr />

            <div class="row">
                <div class="col-sm-12 col-sm-offset-2">

                    <div>
                        <h5 class="col mb-3 text-black-50">My Registered Courses</h5>
                        <hr class="mb-3" />
                        <div class="">
                            <table class="table table-responsive-sm clickable-row table-hover" id="tbl-regCourses">
                                <thead>
                                    <tr>
                                        <th scope="col">S/N</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Syllable</th>
                                        <th scope="col">Teacher</th>

                                    </tr>
                                </thead>
                            </table>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRegCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <form method="post" id="frmScreen">
                <div class="modal-header mr-4 ml-4">
                    <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">Register for a course</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="m-4">
                        <h6 class="mb-2">Select the course to register.</h6>
                        <select class="form-control" id="drpAllCourses" name="drpAllCourses" style="border-radius:0px" required>
                        </select>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <input type="submit" class="btn btn-primary mr-4" id="btnRegisterCourse" value="Register" />
                </div>
            </form>

        </div>

    </div>
</div>