@{
    ViewData["Title"] = "SW Academy";
    Layout = "~/Views/Shared/_LayoutTeachers.cshtml";
}

<div class="text-center">
    <div>
        <h2>Welcome Dear Teacher.</h2>
        <h3>Use the nav bar links to manage your courses or your students.</h3>
    </div>

</div>