@model SwivelAcademyWEB.Models.TeacherModel
@{
    ViewData["Title"] = "SW Academy";
    Layout = "~/Views/Shared/_LayoutTeachers.cshtml";
}

<div class="container">
    <div class="row col-md-12 justify-content-center">
        <div class="col-md-6 mt-4 mb-2 login-form well">
            
            <div class="col-sm-12 form-column">
                <form method="post" asp-controller="Teacher" asp-action="CreateProfile" asp-route-returnurl="@TempData["ReturnUrl"]">
                    <div class="mt-2 mb-3">
                        <h5>Create your teaching profile.</h5>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-12 my-3">
                            <label for="" class="mb-2">First Name</label>
                            <input type="text" class="form-control" id="" asp-for="FirstName" placeholder="First Name" required>
                        </div>
                        <div class="form-group col-md-6 col-sm-12 my-3">
                            <label for="" class="mb-2">Last Name</label>
                            <input type="text" class="form-control" id="" asp-for="LastName" placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12 my-3">
                            <label for="" class="mb-2">Email Address</label>
                            <input type="email" class="form-control" id="" asp-for="Address" data-rule-email="true" placeholder="Address" required>

                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12 my-3">
                            <label for="" class="mb-2">Gender</label>
                            <select class="form-control" asp-for="Gender">
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                            
                        </div>

                    </div>
                    <div class="row justify-content-center">
                        <div class="form-group my-3">
                            <input type="submit" class="btn btn-primary" id="" value="CONTINUE">
                        </div>

                    </div>
                    @if (TempData["Success"] != null)
                    {
                        <script type="text/javascript">
                            function SuccessSignUpModal() {
                                title: "Signup was Successfull!",
                                    Swal.fire({
                                        text: "A link has been sent to your email address. Proceed by verifying your email address",
                                        icon: "success",
                                        showCancelButton: false,
                                    }).then(val => {
                                        if (val) {
                                            window.location.href = "@Url.Content("~/")";
                                        }
                                    });
                            };
                            SuccessSignUpModal();
                        </script>
                    }
                </form>
            </div>
        </div>
    </div>
</div>
